/* Navbar style */
.navbar-brand{
    float: left;
    height: 3%;
    padding: 0;
}

.navbar{
    background-color: rgba(56, 95, 56, 0.445) ;
     opacity:0.8 ;
    line-height: 20px ;
    line-height: 20px ;
}
input.prompt{
  border: none;
  outline: none;
  background-color: transparent;
  width: 210px;
    height: 40px;
    background-color:rgba(245,245,245,0.8) ;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.navbar-form-navbar-left{
 margin-left: 100rem ;
 margin-top: 2rem ;
}
.form-control-col-lg-8{
 width:25rem ;
 line-height: 20px ;
} 

 body {
  background:white;
  color: #030202;
}
 .container{
  display: inline-block;
    border: 1px solid rgba(56, 95, 56, 0.445);
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    margin-bottom: 50px;
    margin-right: 310px;
    margin-top: 90px;
    width:700px;
    padding-top:50px;
    margin-left: 110px;
    
}
 .inline1{
  display: inline-block ;
  width:52% ;
  }
  .readreview{
    cursor: pointer;
    text-decoration: underline;
    color:black ;
  }
 .inline2{
  display: inline-block ;  
  width:50% ;
  margin-bottom:2000px ;
  background: white ;
  width:30% ;
  position: absolute ;
   margin-top:88px ;
   margin-right:20px ;
   margin-left:150px ;
   height: 610px ;
 }
 .stars{
  margin-top:10px  ;
  color: black;
  background: white;
}
.readreview{
margin-left: 20px ;
}

.styles{
  margin-top:10px ;
  margin-left: 10px ;
  font-size:20px ;
}


.style{
  display: inline-block ;
  height: 65px ;
  width: 65px ;
  border:1px solid ;
  border-radius: 50% ;
  margin-top: 20px ;
  text-align: center  ;
  
}
.circle{
  display: inline-block ;
  cursor: pointer ;
  padding:3px ;
  flex-wrap: wrap ;
}

.selectsize{
  width: 210px ;
  height:50px ;
  display: inline-block ;
  margin-top: 20px ;
}

.quantity{
  width: 130px ;
  height:50px ;
  display: inline-block ;
  margin-top: 20px ;
  margin-left: 30px ;
}

.price{
  margin-top:10px ;
  font-size:20px ;
  color:rgb(0, 0, 0) ;

}

input.addtocart{
  background: white;
  margin-top:20px ;
  width: 250px ;
  height:60px ;
}
.thumbnail {
  padding: 0 ;
}
/* .star {
  visibility:hidden;
  font-size:30px;
  cursor:pointer;
}
.star:before {
 content: "\2605";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2606";
 position: absolute;
}
.favstar-position{
  border: 2px solid black;
  position: relative;
  position: absolute;
  margin-left: 75%;
  width: 60px;
  height: 60px;
  margin-top: -15%;
} */
img.block{
  display: inline-block;
    width:700px;
    height: 500px;
   
}
